name: Docker Push

on:
  push:
    branches: [ main ]

jobs:   
  build:    
    runs-on: ubuntu-18.04    
    env:       
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}  
      DOCKER_TARGET_PLATFORM: linux/arm64                
    steps:    
    - name: Checkout the code       
      uses: actions/checkout@v1          
    # https://github.com/docker/setup-qemu-action
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    # https://github.com/docker/setup-buildx-action
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1  
    - name: Prepare      
      if: success()      
      id: prepare      
      run: |        
        echo ::set-output name=docker_platform::${DOCKER_TARGET_PLATFORM}        
    - name: Docker Login      
      if: success()      
      run: |        
        echo "${DOCKER_PASSWORD}" | docker login ${DOCKER_REGISTRY} --username "${DOCKER_USERNAME}" --password-stdin        
    - run: docker build -t janjanssenmpie/base-notebook:latest base-notebook/ --platform ${{ steps.prepare.outputs.docker_platform }}
    - run: docker tag janjanssenmpie/base-notebook:latest janjanssenmpie/base-notebook:"$(date +%F)"
    - run: docker build -t janjanssenmpie/minimal-notebook:latest minimal-notebook/ --platform ${{ steps.prepare.outputs.docker_platform }}
    - run: docker tag janjanssenmpie/minimal-notebook:latest janjanssenmpie/minimal-notebook:"$(date +%F)"
    - run: docker images
    - run: docker push janjanssenmpie/base-notebook:latest
    - run: docker push janjanssenmpie/base-notebook:"$(date +%F)"
    - run: docker push janjanssenmpie/minimal-notebook:latest
    - run: docker push janjanssenmpie/minimal-notebook:"$(date +%F)"
