name: Docker Testing

on:
  pull_request:
    branches: [ main ]

jobs:   
  build:    
    runs-on: ubuntu-18.04    
    env:       
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}  
      DOCKER_TARGET_PLATFORM: linux/arm/v7                 
    steps:    
    - name: Checkout the code       
      uses: actions/checkout@v1          
    - name: Set up Docker Buildx      
      uses: crazy-max/ghaction-docker-buildx@v1      
      with:        
        version: latest
    - name: Prepare      
      if: success()      
      id: prepare      
      run: |        
        echo ::set-output name=docker_platform::${DOCKER_TARGET_PLATFORM}  
    - name: Login to DockerHub Registry
      run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin         
    - run: docker buildx build -t janjanssenmpie/base-notebook:latest base-notebook/ --platform ${{ steps.prepare.outputs.docker_platform }}
    - run: docker tag janjanssenmpie/base-notebook:latest janjanssenmpie/base-notebook:"$(date +%F)"
    - run: docker buildx build -t janjanssenmpie/minimal-notebook:latest minimal-notebook/ --platform ${{ steps.prepare.outputs.docker_platform }}
    - run: docker tag janjanssenmpie/minimal-notebook:latest janjanssenmpie/minimal-notebook:"$(date +%F)"
    - run: docker images
